@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
   font-family: "Inter", sans-serif;
}


/*=========== Reset Code ===============*/
.wp-admin.toplevel_page_boltboost #wpbody-content {
    padding-bottom: 0;
}

/*======== Header Section ==========*/
.bb-dashboard-header {
    align-items: center;
    border-bottom: 1px solid #eaecf0;
    display: flex;
    background: #fff;
    gap: 20px;
    height: 60px;
    justify-content: space-between;
}

.bb-logo{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    height: 100%;
    padding: 15px 24px;
}

.bb-log-img {
    height: 25px;
}

.ba-dashboard__header__logo {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    height: 100%;
    padding: 15px 24px;
}

/*======== Layout Section ==========*/
.bb-layout {
    margin-left: -20px;
}

.bb-layout-wrap {
    display: flex;
}

.bb-sidebar {
    background-color: #fff;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
    height: 100dvh;
    min-width: 280px;
    padding: 24px;
    width: 280px
}

.bb-menu-item a {
    border: 2px solid transparent;
    border-radius: 30px;
    box-sizing: border-box;
    color: #062a5d;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 8px;
    height: 52px;
    line-height: 1.2;
    margin: 0;
    padding: 16px 24px;
    text-decoration: none;
}

.bb-menu-item a svg {
    fill: #4f575b;
}

.bb-menu-item .active {
    background-color: #eaf8ff;
    border-color: #aee2ff;
    font-weight: 700;
}

.bb-right-column {
    width: 80%;
}

.bb-content {
    max-width: 90%;
    width: 100%;
    padding: 40px 32px;
    background: #e4e4e6;
}

/*-------- header -----------*/
.bb-content-header{
    max-width: 900px;
    width: 100%;
    margin-bottom: 30px;
}
.overview {
    color: #6b7280;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 8px;
    display: block;
}

.bb-content-header .header-flex {
    align-items: center;
    display: flex;
    gap: 8px;
}

.header-flex h3 {
    margin: 0;
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.header-flex .active {
    align-items: center;
    background: #b2f5d9;
    border-radius: 16px;
    color: #00854e;
    display: inline-flex;
    font-size: 12px;
    font-weight: 600;
    gap: 4px;
    height: 20px;
    line-height: 1.2;
    padding: 0 8px;
    transition: all .3s ease;
}

.bb-content-header p {
    color: #6b7280;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 12px;
}

/*============ Post Type Style =============*/
.bb-dashboard-section {
    background: #fff;
    border: 1px solid #eaecf0;
    border-radius: 12px;
    box-shadow: 0 2px 2px 0 #00000014;
    box-sizing: border-box;
    padding: 32px 24px;
    margin-bottom: 20px;
}

.bb-section-title {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0 0 20px;
}

.bb-section-disc {
    color: #6b7280;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    margin: 0 0 20px;
}

.bb-desh-card-wrap {
    display: flex;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bb-desh-card__single {
    align-items: center;
    background-color: #eaecf0;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex: 0 0 25%;
    flex-direction: column;
    gap: 4px;
    max-width: 22%;
    padding: 24px;
}

.bb-desh-card__title {
    color: #6b7280;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.bb-desh-card__count {
    color: #000000;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
}

.bb-dashboard-data {
    margin-top: 20px;
}

.bb-dashboard__table {
    border-collapse: collapse;
    width: 100%;
}

.bb-dashboard__table th {
    font-weight: 600;
    height: 40px;
    font-size: 16px;
    line-height: 1.2;
    min-width: 120px;
    text-align: left !important;
}

.bb-dashboard__table td {
    height: 40px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
}

.bb-data-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
}

.bb-data-progress-wrapper {
    background-color: #eaecf0;
    border-radius: 8px;
    display: flex;
    float: right;
    height: 12px;
    min-width: 160px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.bb-data-progress {
    background-color: #006eff;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.bb-data-progress-wrapper {
    margin-right: 50px;
}

.bb-dashboard__table td:last-child .bb-data-progress-wrapper {
    margin-right: 0;
}

.ba-dashboard__content__section__data{
  margin-top: 20px;
}

.ba-dashboard__content__section__data table {
    border-collapse: collapse;
    width: 100%;
}

.ba-dashboard__content__section__data table th:first-child {
    border-radius: 8px 0 0 0;
    text-align: left;
}

.ba-dashboard__content__section__data table th:last-child {
    border-radius: 8px 0 0 0;
    text-align: right;
}

.ba-dashboard__content__section__data table th {
    background-color: #eaecf0;
    box-sizing: border-box;
    color: #4b5563;
    font-weight: 600;
    height: 40px;
    line-height: 1.2;
    min-width: 120px;
    padding: 0 16px;
    text-align: center;
    width: auto;
    font-size: 14px;
}

.ba-dashboard__content__section__data table td {
    border-bottom: 1px solid #eaecf0;
    border-top: 1px solid #eaecf0;
    color: #000;
    height: 40px;
    padding: 0 16px;
    text-align: center;
}

.ba-dashboard__content__section__data table td:first-child {
    text-align: left;
}

.ba-dashboard__content__section__data table td:last-child {
    text-align: right;
}

.ba-dashboard__content__section__data table td:first-child {
    border-left: 1px solid #eaecf0;
}

.ba-dashboard__content__section__data table td:last-child {
    border-right: 1px solid #eaecf0;
}

.plugin_table table th:first-child,
.plugin_table table th:last-child{
 border-radius: 0;
}

.plugin_table table th:last-child{
 text-align: left;
}

.plugin_table table td:last-child{
 text-align: left;
}

.plugin_table .plugin-badge {
    border-radius: 9999px;
    display: inline-block;
    font-size: .75rem;
    font-weight: 500;
    margin-left: 5px;
    padding: 2px 6px;
}

.plugin_table .active{
    background-color: #d1f5cd;
    color: #2e7d32;
}

.plugin_table .inactive{
    background-color: #e0e0e0;
    color: #757575;
}

/*============ Environment =============*/
.ba-dashboard__tab__list {
    display: flex;
    gap: 24px;
}

.ba-dashboard__tab__item {
    align-items: center;
    border-bottom: 1px solid transparent;
    color: #4b5563;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    font-weight: 600;
    gap: 8px;
    height: 40px;
    line-height: 1.2;
    transition: all .3s ease;
}

.ba-dashboard__tab__item.active {
    border-color: #006eff;
}

.ba-dashboard__tab__panel {
  display: none;
}
.ba-dashboard__tab__panel.active {
  display: block;
}
.ba-dashboard__tab__item {
  cursor: pointer;
}
.ba-dashboard__tab__item.active {
  font-weight: 600;
}
.ba-item--full {
  grid-column: 1 / -1;
}

.ba-title{
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    margin: 2px 0 0;
    width: 200px;
    display: inline-block;
}

.ba-item {
    border-bottom: 1px solid #ddd;
    display: flex;
    gap: 20px;
    padding: 11px 0;
}
